

#contact{
    padding-top: 129px;
    position: relative;
}
#contact .bg-contact{
    position: absolute;
    top: -433px;
    right: 0;
    pointer-events: none;
    width: 1800px;
}
#contact .header-entry{
    margin-bottom: 111px;
    position: relative;
    z-index: 6;
}
#contact .heading{
    max-width: 1075px;
    margin: auto;
}
#contact .heading .ttl-en{
    display: block;
    font-size: 122px;
    line-height: 130px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.4px;
    border-bottom: 1px solid #ACACAC;
    padding-bottom: 24px;
    margin-bottom: 26px;
}
#contact .heading .ttl-ja{
    display: block;
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    padding-left: 3px;
}


#contact .contact-step{
    background: #F2F2F2;
    padding-top: 66px;
    padding-bottom: 29px;
    position: relative;
    z-index: 6;
}
#contact .step-list{
    max-width: 842px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 51px;
}
#contact .step-list:after{

}
#contact .step-list .step-inner{
    position: relative;
    background: #F2F2F2;
    padding: 0 12px;
    z-index: 2;
}
#contact .step-item .dots{
    background: #C4C4C4;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
}
#contact .step-item.is-active .dots{
    background: #000;
}
#contact .step-item .ttl{
    font-size: 16px;
    line-height: 20px;
    color: #7E7E7E;
    font-weight: 500;
    position: absolute;
    white-space: nowrap;
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1.2px;
}
#contact .step-item.is-active .ttl{
    color: #000;
}
#contact .step-item:nth-child(2):before {
    content: "";
    position: absolute;
    width: calc(50% - 55px);
    border-top: 1px solid #C4C4C4;
    left: 56px;
    bottom: 16px;
}
#contact .step-item.is-active:nth-child(2):before{
    border-color: #000;
}
#contact .step-item:nth-child(3):before {
    content: "";
    position: absolute;
    width: calc(50% - 55px);
    border-top: 1px solid #C4C4C4;
    right: 56px;
    bottom: 16px;
}
#contact .step-item.is-active:nth-child(3):before{
    border-color: #000;
}


#contact .contact-form{
    background: #EDEDED;
    padding-top: 99px;
    padding-bottom: 170px;
    position: relative;
    z-index: 6;
}
#contact .contact-list{
    max-width: 1075px;
    margin: auto;
}
#contact .group-item{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
#contact .group-item .title{
    width: 220px;
}
#contact .group-item .title label{
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.2px;
}
#contact .group-item .container-input{
    width: calc(100% - 220px);
}
#contact .group-item .input-field input{
    border: 0;
    font-size: 20px;
    height: 72px;
    padding: 0 26px 35px;
    letter-spacing: 1.6px;
    border-bottom: 1px solid #C4C4C4;
}
#contact .group-item .input-field{
    /*border-bottom: 1px solid #C4C4C4;*/
    /*padding-bottom: 35px;*/
}
#contact .group-item .input-field.field-error input{
    border-color: #C40000;
}
#contact .group-item .input-field.field-error textarea{
    border-color: #C40000;
}
#contact .mw_wp_form .error{
    font-size: 14px;
    line-height: 20px;
    color: #C40000;
    margin-top: 15px;
}
#contact .group-item .container-input.half-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 54px;
}
#contact .group-item .container-input.half-item .input-field:nth-child(1) .error{
    /*display: none;*/
}
#contact .group-item .input-field input::-webkit-input-placeholder {
    color: #7E7E7E;
}
#contact .group-item .input-field input:-ms-input-placeholder {
    color: #7E7E7E;
}
#contact .group-item .input-field input::placeholder {
    color: #7E7E7E;
}
#contact .group-item .required{
    color: #C40000;
    position: relative;
    display: inline-block;
    top: -6px;
    padding-left: 10px;
}
#contact .group-item:nth-child(6) .input-field{
    border-bottom: 0;
    display: flex;
    flex-direction: column;
}
#contact .mw_wp_form .horizontal-item + .horizontal-item{
    margin-left: 0;
}
#contact .group-item .mwform-checkbox-field .mwform-checkbox-field-text{
    position: relative;
    display: inline-block;
    padding-left: 67px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 1.6px;
    margin-bottom: 28px;
}
#contact .group-item .mwform-checkbox-field input{
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
}
#contact .group-item .mwform-checkbox-field .mwform-checkbox-field-text:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #B1B1B1;
    left: 17px;
    top: -1px;
    transition: .3s;
}
#contact .group-item .mwform-checkbox-field .mwform-checkbox-field-text:after{
    content: "";
    position: absolute;
    left: 27px;
    top: 2px;
    width: 8px;
    height: 15px;
    border: solid #000;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
#contact .group-item .mwform-checkbox-field input:checked ~ .mwform-checkbox-field-text:after{
    opacity: 1;
    visibility: visible;
}
#contact .group-item .mwform-checkbox-field input:checked ~ .mwform-checkbox-field-text:before{
    border-color: #000;
}
#contact .group-item .mwform-checkbox-field:nth-child(3) .mwform-checkbox-field-text:last-child{
    margin-bottom: 0;
}
#contact .group-item:nth-child(6){
    /*margin-bottom: 12px;*/
}
#contact .group-item:nth-child(7){
    margin-bottom: 80px;
}
#contact .group-item .input-field textarea{
    height: 290px;
    font-size: 20px;
    line-height: 36px;
    padding: 29px 26px;
    font-weight: 500;
    letter-spacing: 1.6px;
}
#contact .group-item .input-field textarea::-webkit-input-placeholder {
    color: #7E7E7E;
}
#contact .group-item:nth-child(7) .input-field{
    border-bottom: 0;
}

#contact .privacy-content{
    background: #FFFFFF;
    padding: 41px 20px 43px 57px;
}
#contact .privacy-content .info{
    max-height: 164px;
    overflow-y: scroll;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    letter-spacing: 1.3px;
    padding-right: 50px;
}
#contact .privacy-content .info p{
    margin-bottom: 27px;
}
#contact .privacy-content .info::-webkit-scrollbar {
    width: 8px;
}
#contact .privacy-content .info::-webkit-scrollbar-track {
    background: #D3D3D3;
}
#contact .privacy-content .info::-webkit-scrollbar-thumb {
    background: #A2A2A2;
    width: 8px;
    background-clip: content-box;
    cursor: pointer;
}


#contact .privacy-checkbox{
    padding-top: 60px;
    padding-bottom: 90px;
}
#contact .privacy-checkbox .error{
    text-align: center;
    margin-top: 30px;
}
#contact .privacy-checkbox .mwform-checkbox-field{
    text-align: center;
    display: block;
}
#contact .privacy-checkbox .mwform-checkbox-field input{
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}
#contact .privacy-checkbox .mwform-checkbox-field-text{
    position: relative;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    letter-spacing: 1.4px;
    padding: 12px 0 12px 54px;
}
#contact .privacy-checkbox .mwform-checkbox-field-text:before {
    content: "";
    position: absolute;
    width: 43px;
    height: 43px;
    border: 1px solid #B1B1B1;
    top: 4px;
    left: -8px;
    transition: .3s;
}
#contact .privacy-checkbox .mwform-checkbox-field-text:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 11px;
    width: 10px;
    height: 18px;
    border: solid #000;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
#contact .privacy-checkbox input:checked ~ .mwform-checkbox-field-text:after {
    opacity: 1;
    visibility: visible;
}
#contact .privacy-checkbox input:checked ~ .mwform-checkbox-field-text:before{
    border-color: #000;
}

#contact .contact-submit{
    text-align: center;
}
#contact .contact-submit .btn-contact.btn-send{
    display: none;
}
#contact .contact-submit .btn-contact{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 485px;
    margin: auto;
}
#contact .contact-submit .btn-contact button{
    cursor: pointer;
    width: 100%;
    max-width: 485px;
    margin: auto;
    height: 70px;
    display: flex;
    background: #000;
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    border: 1px solid #000;
    letter-spacing: 1px;
    transition: .5s;
}
#contact .contact-submit .btn-contact:hover button{
    background: transparent;
    border-color: #707070;
    color: #000;
}
#contact .contact-submit .btn-contact svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 33px;
}
#contact .contact-submit .btn-contact svg path{
    transition: .5s;
}
#contact .contact-submit .btn-contact:hover svg path{
    stroke: #707070;
}
#contact .mw_wp_form_confirm .contact-submit .btn-contact.btn-send{
    display: block;
}
#contact .mw_wp_form_confirm .privacy-checkbox,
#contact .mw_wp_form_confirm .privacy-content{
    display: none;
}
#contact .mw_wp_form_confirm .group-item .title {
    width: 276px;
}
#contact .mw_wp_form_confirm .group-item .container-input {
    width: calc(100% - 276px);
}
#contact .mw_wp_form_confirm .group-item .container-input.half-item {
    display: flex;
    column-gap: 16px;
}
#contact .mw_wp_form_confirm .group-item .input-field{
    border-bottom: 0;
}
#contact .contact-main .title-confirm{
    display: none;
}
#contact .mw_wp_form_confirm .contact-main .title-confirm{
    display: block;
    max-width: 1115px;
    margin: 0 auto 82px;
    padding: 0 20px;
}
#contact .contact-main .title-confirm .text{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1.6px;
}
#contact.confirm .contact-form{
    padding-top: 89px;
    padding-bottom: 104px;
}
#contact .mw_wp_form_confirm .group-item .required{
    display: none;
}
#contact .mw_wp_form_confirm .group-item .input-field{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.6px;
    padding-bottom: 0;
    max-width: 680px;
}
#contact .mw_wp_form_confirm .group-item .title label{
    line-height: 40px;
}
#contact .mw_wp_form_confirm .group-item{
    margin-bottom: 38px !important;
}
#contact .mw_wp_form_confirm .contact-submit{
    padding-top: 22px;
}


#contact.complete .contact-form{
    padding-top: 65px;
    padding-bottom: 157px;
}
#contact .complete-content{
    max-width: 1075px;
    margin: auto;
}
#contact .complete-content .title{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.6px;
    margin-bottom: 53px;
}
#contact .complete-content .btn-link{
    display: flex;
    width: 100%;
    max-width: 276px;
    background: #000;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    position: relative;
    border: 1px solid #000;
    border-radius: 80px;
    height: 70px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.8px;
}
#contact .complete-content .btn-link:hover{
    background: #fff;
    color: #000;
    border-color: #707070;
}
#contact .complete-content .btn-link svg{
    position: absolute;
    top: 50%;
    left: 31px;
    transform: translateY(-50%);
}
#contact .complete-content .btn-link svg path{
    transition: .5s;
}
#contact .complete-content .btn-link:hover svg path{
    stroke: #000;
}


@media (max-width: 1023px) {

    #contact .bg-contact{
        top: -300px;
    }
    #contact .heading .ttl-en{
        font-size: 100px;
        line-height: 110px;
    }
    #contact .heading .ttl-ja{
        font-size: 21px;
        line-height: 30px;
    }
    #contact .group-item .title label{
        font-size: 16px;
        line-height: 30px;
    }
    #contact .group-item .input-field input{
        font-size: 16px;
    }
    #contact .group-item .mwform-checkbox-field .mwform-checkbox-field-text{
        font-size: 16px;
    }
    #contact .group-item .input-field textarea{
        font-size: 16px;
        padding: 20px 26px;
    }
    #contact .group-item .title{
        width: 200px;
    }
    #contact .group-item .container-input {
        width: calc(100% - 200px);
    }
    #contact .privacy-content .info{
        font-size: 14px;
        line-height: 23px;
    }
    #contact .privacy-content .info p {
        margin-bottom: 23px;
    }
    /*#contact .group-item .input-field{*/
    /*    padding-bottom: 28px;*/
    /*}*/
    #contact .group-item .input-field input{
        padding-bottom: 25px;
        height: 61px;
    }

    #contact .contact-main .title-confirm .text{
        font-size: 16px;
        line-height: 28px;
    }
    #contact .mw_wp_form_confirm .group-item .title label {
        line-height: 2;
        font-size: 16px;
    }
    #contact .mw_wp_form_confirm .group-item .input-field{
        font-size: 16px;
        line-height: 2;
    }
    #contact .mw_wp_form_confirm .group-item .title {
        width: 250px;
    }
    #contact .mw_wp_form_confirm .group-item .container-input {
        width: calc(100% - 250px);
    }
    #contact .complete-content .title {
        font-size: 16px;
        line-height: 2;
    }


}


@media (max-width: 767px) {

    #contact {
        padding-top: 19px;
    }
    #contact .bg-contact {
        top: -20px;
        width: 110%;
    }
    #contact .heading .ttl-en {
        font-size: 61px;
        line-height: 66px;
        letter-spacing: 0.1px;
        padding-bottom: 7px;
        margin-bottom: 8px;
    }
    #contact .heading .ttl-ja {
        font-size: 16px;
        line-height: 24px;
        padding-left: 2px;
    }
    #contact .header-entry {
        margin-bottom: 48px;
    }
    #contact .step-item .dots{
        width: 12px;
        height: 12px;
    }
    #contact .step-list{
        padding: 0px 23px;
    }
    #contact .step-list .step-inner {
        padding: 0 10px;
    }
    #contact .contact-step{
        padding-top: 48px;
        padding-bottom: 25px;
    }
    #contact .step-item .ttl{
        font-size: 14px;
        line-height: 20px;
        top: -15px;
    }
    #contact .step-item:nth-child(2):before,
    #contact .step-item:nth-child(3):before{
        bottom: 13px;
    }
    #contact .group-item .title label {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0;
        display: block;
    }
    #contact .group-item .title {
        width: 80px;
        padding-top: 10px;
    }
    #contact .group-item .container-input {
        width: calc(100% - 80px);
    }
    #contact .group-item .container-input.half-item{
        column-gap: 13px;
    }
    #contact .group-item .input-field input {
        font-size: 15px;
        padding: 0 0 8px;
        height: 44px;
        letter-spacing: 0;
    }
    #contact .group-item .input-field {
        padding-bottom: 0;
    }
    #contact .contact-form{
        padding-top: 26px;
        padding-bottom: 97px;
        background: transparent;
    }
    #contact .group-item .input-field {
        padding-bottom: 7px;
    }
    #contact .group-item{
        margin-bottom: 30px;
    }
    #contact .group-item:nth-child(6) .title{
        width: 100%;
        padding-top: 0px;
        margin-bottom: 3px;
    }
    #contact .group-item:nth-child(6) .container-input{
        width: 100%;
    }
    #contact .group-item .required{
        font-size: 12px;
        padding-left: 8px;
    }
    #contact .group-item .mwform-checkbox-field .mwform-checkbox-field-text:before {
        width: 20px;
        height: 20px;
        border: 1px solid #B1B1B1;
        left: -8px;
        top: -2px;
        transition: .3s;
    }
    #contact .group-item .mwform-checkbox-field .mwform-checkbox-field-text {
        font-size: 14px;
        line-height: 19px;
        padding-left: 21px;
        letter-spacing: 0.5px;
        margin-bottom: 13px;
    }
    #contact .group-item .mwform-checkbox-field .mwform-checkbox-field-text:after{
        left: -2px;
        top: -0.5px;
        width: 6px;
        height: 12px;
        border: solid #000;
        border-width: 0 3px 3px 0;
    }
    #contact .group-item:nth-child(6) {
        margin-bottom: 17px;
    }
    #contact .group-item:nth-child(7) .title{
        width: 100%;
        margin-bottom: 5px;
    }
    #contact .group-item:nth-child(7) .container-input{
        width: 100%;
    }
    #contact .group-item .input-field textarea {
        font-size: 14px;
        line-height: 20px;
        padding: 15px 12px;
        letter-spacing: 1.2px;
        height: 145px;
    }
    #contact .group-item:nth-child(7){
        margin-bottom: 12px;
    }
    #contact .privacy-content {
        background: #FFFFFF;
        padding: 19px 10px 20px 20px;
    }
    #contact .privacy-content .info {
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 1px;
        max-height: 323px;
        padding-right: 16px;
    }
    #contact .privacy-content .info p {
        margin-bottom: 19px;
    }
    #contact .privacy-content .info::-webkit-scrollbar {
        width: 7px;
    }
    #contact .privacy-content .info::-webkit-scrollbar-thumb {
        width: 7px;
    }
    #contact .privacy-checkbox {
        padding-top: 27px;
        padding-bottom: 25px;
    }
    #contact .privacy-checkbox .mwform-checkbox-field-text:before{
        width: 21px;
        height: 21px;
        top: 13px;
        left: -9px;
    }
    #contact .privacy-checkbox .mwform-checkbox-field-text:after{
        left: -1.5px;
        top: 15px;
        width: 6px;
        height: 12px;
        border-width: 0 3px 3px 0;
    }
    #contact .contact-submit .btn-contact button {
        max-width: 100%;
        height: 50px;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0;
        padding-right: 8px;
    }
    #contact .contact-submit .btn-contact{
        max-width: 245px;
    }
    #contact .contact-submit .btn-contact svg{
        right: 17px;
        width: 6px;
    }
    #contact .privacy-checkbox .mwform-checkbox-field-text {
        font-size: 15px;
        letter-spacing: 1.2px;
        padding: 12px 0 12px 29px;
    }


    #contact.confirm .contact-form {
        padding-top: 36px;
        padding-bottom: 90px;
    }
    #contact .contact-main .title-confirm .text {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    #contact .mw_wp_form_confirm .group-item .title label {
        line-height: 18px;
        font-size: 14px;
        letter-spacing: 0;
    }
    #contact .mw_wp_form_confirm .group-item .title {
        width: 138px;
        padding-top: 0;
    }
    #contact .mw_wp_form_confirm .group-item .container-input{
        width: calc(100% - 138px);
    }
    #contact .mw_wp_form_confirm .group-item .container-input.half-item {
        display: flex;
        column-gap: 6px;
    }
    #contact .mw_wp_form_confirm .group-item .title label br{
        display: none;
    }
    #contact .mw_wp_form_confirm .group-item {
        margin-bottom: 20.5px !important;
    }
    #contact .mw_wp_form_confirm .group-item:nth-child(6) .title {
        width: 138px;
        padding-top: 0px;
        margin-bottom: 0;
    }
    #contact .mw_wp_form_confirm .group-item:nth-child(6) .container-input {
        width: calc(100% - 138px);
    }
    #contact .mw_wp_form_confirm .group-item:nth-child(7) .title {
        width: 100%;
        margin-bottom: 12px;
    }
    #contact .mw_wp_form_confirm .group-item .input-field {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
    }
    #contact .mw_wp_form_confirm .contact-main .title-confirm {
        display: block;
        max-width: 1115px;
        margin: 0 auto 29px;
        padding: 0 23px;
    }
    #contact .mw_wp_form_confirm .group-item:nth-child(7) .container-input {
        width: 100%;
    }
    #contact .mw_wp_form_confirm .contact-submit {
        padding-top: 14px;
    }



    #contact.complete .contact-form {
        padding-top: 36px;
        padding-bottom: 57px;
    }
    #contact .complete-content .title {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.2px;
        margin-bottom: 32px;
    }
    #contact .complete-content .btn-link {
        max-width: 210px;
        font-size: 14px;
        height: 50px;
        letter-spacing: 0;
    }
    #contact .complete-content .btn-link svg {
        left: 18px;
        width: 6px;
    }
    #contact .group-item .container-input.half-item .input-field:nth-child(2) .error{
        display: none;
    }
    #contact .mw_wp_form .error{
        margin-top: 8px;
        font-size: 12px;
    }
    #contact .group-item .container-input.half-item .input-field:nth-child(1) .error{
        position: relative;
        margin-right: -80px;
        width: auto;
    }


}








